altair==5.1.1
annotated-types==0.5.0
anyio==4.0.0
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.1
certifi==2022.12.7
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b0qzba5nr/croot/cffi_1670423213150/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
conda==23.1.0
conda-content-trust @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0afea0f9-bbf5-446c-8d60-8151cc05b029p0nco1nn/croots/recipe/conda-content-trust_1658126375910/work
conda-package-handling @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f5r7ncch6s/croot/conda-package-handling_1672865026931/work
conda_package_streaming @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_619dxy_gif/croot/conda-package-streaming_1670508154637/work
contourpy==1.0.7
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ayq9hu973/croot/cryptography_1673298756837/work
cycler==0.11.0
decorator==4.4.2
deprecation==2.1.0
exceptiongroup==1.1.3
fonttools==4.39.3
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.37
gotrue==1.0.4
h11==0.14.0
HF-API @ git+https://github.com/huggingface/hfapi/@c1c691a7a43558b0062bd3377007f95f2ff10835
httpcore==0.17.3
httpx==0.24.1
idna @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_00jf0h4zbt/croot/idna_1666125573348/work
importlib-metadata==6.8.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
karateclub==1.3.3
kiwisolver==1.4.4
Levenshtein==0.20.9
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
mutagen==1.46.0
networkx==2.6.3
nnfs==0.5.1
numpy==1.22.4
outcome==1.2.0
packaging==23.1
pandas==1.3.5
Pillow==9.5.0
platformdirs==3.5.1
pluggy @ file:///opt/concourse/worker/volumes/live/8277900c-164a-49c8-6f2a-f55c3c0154be/volume/pluggy_1648042581708/work
postgrest==0.10.8
protobuf==4.24.3
pyarrow==13.0.0
pybind11==2.11.1
pycosat @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ebsmghz9nu/croot/pycosat_1666805511853/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.17
pydantic==2.3.0
pydantic_core==2.6.3
pydeck==0.8.1b0
Pygments==2.16.1
PyGSP==0.5.1
pyopencl==2023.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///Users/builder/ci_310/pysocks_1642536366386/work
python-dateutil==2.8.2
python-dotenv==1.0.0
python-Levenshtein==0.20.9
python-louvain==0.16
pytools==2022.1.14
pytz==2023.3
rapidfuzz==2.15.1
realtime==1.0.0
referencing==0.30.2
requests @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_516b78ce-034d-4395-b9b5-1d78c2847384qtnol99l/croots/recipe/requests_1657734628886/work
rich==13.6.0
rpds-py==0.10.3
ruamel.yaml @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7de1zqcaou/croot/ruamel.yaml_1666304553877/work
ruamel.yaml.clib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c7s0zxy4t2/croot/ruamel.yaml.clib_1666302244557/work
scikit-learn==1.3.0
scipy==1.10.1
selenium==4.11.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
storage3==0.5.4
streamlit==1.27.1
StrEnum==0.4.15
supabase==1.0.4
supafunc==0.2.3
tenacity==8.2.3
threadpoolctl==3.1.0
-e git+https://github.com/geohot/tinygrad.git@c0e558b77cc97df29e537c73d7a7604f52472093#egg=tinygrad
toml==0.10.2
toolz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a7gkswah88/croot/toolz_1667464082910/work
tornado==6.3.3
tqdm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2adqcbsqqd/croots/recipe/tqdm_1664392689227/work
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.6.3
tzlocal==5.0.1
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4cyi6_u2vj/croot/urllib3_1673575523861/work
validators==0.22.0
watchdog==3.0.0
websockets==10.4
wsproto==1.2.0
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
zipp==3.17.0
zstandard @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c5lm04h6cy/croots/recipe/zstandard_1663827377465/work
